* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 110px;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	color: #222222;
	line-height: 1.25;
	font-family: 'Klukva';
}

h1,
h2,
h3,
a,
p,
ul,
li {
	font-size: inherit;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

button {
	border: inherit;
	background: inherit;
}

h2 {
	font-size: 65px;
	font-weight: 400;
	font-family: 'Florisel';
}

.container {
	max-width: 850px;
	padding: 0 15px;
	margin: 0 auto;
}

.names {
	display: flex;
	flex-direction: column;
	font-family: 'Florisel';
	margin-bottom: 80px;
}

.names__main {
	font-size: 100px;
}

.names__sub {
	font-size: 90px;
}

.description {
	font-size: 25px;
}

main {
	margin-top: 200px;
	text-align: center;
}

header {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	padding: 30px 20px;
	width: 100%;
	background-color: #e4e4e4;
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.header__title {
	color: #222222;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
}

.burger__btn {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 50px;
	cursor: pointer;
	transition: .2s;
}

.burger__btn:hover {
	transform: scale(1.1);
}

.burger__btn::before,
.burger__btn::after {
	content: '';
	width: 100%;
	height: 2px;
	background: black;
}

.burger__line {
	width: 100%;
	height: 2px;
	background: black;
}

.burger__btn.active {
	gap: 0px;
}

.burger__btn.active::after {
	transform: rotate(45deg);
}

.burger__btn.active::before {
	transform: rotate(-45deg);
}

.burger__btn.active .burger__line {
	display: none;
}

.burger__menu {
	position: fixed;
	z-index: 3;
	top: 0;
	right: -100%;
	padding: 65px 45px 0;
	height: 100%;
	background: #a7a7a7;
	transition: .25s;
	color: #ffffff;
}

.burger__menu ul {
	display: flex;
	flex-direction: column;
	font-size: 24px;
	gap: 20px;
}

.burger__menu ul li {
	transition: .25s;
}

.burger__menu ul li:hover {
	color: rgb(76, 77, 73);
	transform: scale(1.1);
}

.burger__menu.active {
	right: 0;
}

.burger__overlay {
	display: none;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.active.burger__overlay {
	display: block;
}

.burger__close {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 25px;
	height: 25px;
	transition: .2s;
	padding: 3px;
	cursor: pointer;
}

.burger__close::before,
.burger__close::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 2px;
	transform: rotate(45deg);
	background: #ffffff;
}

.burger__close::after {
	transform: rotate(-45deg);
}

.burger__close:hover {
	transform: scale(1.2);
}

.info-block {
	display: flex;
	flex-direction: column;
	max-width: 475px;
	margin: 0 auto;
	gap: 35px;
	margin-bottom: 45px;
}

/* ====== PLAN ===== */

.plan__wrapper {
	margin-top: 50px;
}

.plan__item {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	margin-bottom: 80px;
	gap: 80px;
}

.plan__time {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	font-size: 22px;
}

.plan__time::after,
.plan__time::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: -30px;
	background: #cfcfcf;
}

.plan__time::after {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	top: 50%;
	left: -29px;
	transform: translateX(-50%);
}

.plan__time::before {
	width: 2px;
	height: calc(100% + 80px);
}

.plan__item:first-child .plan__time::before {
	height: calc(50% + 80px);
	top: 50%;
}

.plan__item:last-child .plan__time::before {
	height: 50%;
}

.plan__img {
	width: 100px;
	height: 100px;
}

.plan__img img {
	width: 100%;
	object-fit: contain;
}


/* MAP */
.info-block.map {
	max-width: 100%;
}

.map__wrapper {
	display: none;
}

.map__wrapper.active {
	display: block;
}

.map__btn {
	display: flex;
	align-self: center;
	align-items: center;
	gap: 10px;
	font-size: 20px;
	margin-top: 20px;
	padding: 15px 25px;
	border-radius: 35px;
	border: 1px solid #cfcfcf;
	cursor: pointer;
	transition: .2s;
}

.map__arrow {
	position: relative;
	width: 40px;
	height: 2px;
	background: #cfcfcf;
}

.map__arrow::after,
.map__arrow::before {
	content: '';
	position: absolute;
	width: 10px;
	height: 2px;
	right: 0;
	background: #cfcfcf;
}

.map__arrow::after {
	transform: translateY(-4px) rotate(45deg);
}

.map__arrow::before {
	transform: translateY(4px) rotate(-45deg);
}

.colors__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.colors__item {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}


/* merryed__timer */

.info-block.merryed {
	max-width: 100%;
}

.merryed__timer {
	font-size: 70px;
}

/* contact__wrapper */

.contact__wrapper {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.contact__item {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.contact__item img {
	width: 30px;
	height: 30px;
}

.info-block.end {
	max-width: 100%;
}

.info-block.end h2 {
	word-spacing: 20px;
	font-size: 100px;
}

@media (max-width: 765px) {
	.names__main {
		font-size: 75px;
	}

	.names__sub {
		font-size: 70px;
	}

	h2 {
		font-size: 50px;
	}

	.info-block {
		gap: 10px;
		margin-bottom: 30px
	}

	.description {
		font-size: 20px;
	}

	.merryed__timer {
		font-size: 55px;
	}

	.info-block.end h2 {
		font-size: 55px;
		word-spacing: 5px;
	}

	.plan__wrapper {
		margin-top: 20px;
	}

	.plan__item {
		margin-bottom: 55px;
	}

	.map__btn {
		font-size: 16px;
		padding: 10px 15px;
	}

	.contact__wrapper {
		gap: 15px;
	}
}